{{ scm_header }}

{{ scm_functions_section }}

{{ scm_variables_section }}

{{ scm_edges_section }}

{{ scm_constraints_section }}

{{ scm_invariants_section }}

{{ scm_critical_section }}

{{ scm_instructions }}